.img__home {
  background-image: url('./Assets/service_page.png');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;

  @media screen and (max-width: 480px) {
    background-image: url('./Assets/service_page.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 190px);
    object-fit: cover;
  }
}